// banner
.home-banner{
  @include ban-box;
  background-position: center;
  background-image: url('https://images.unsplash.com/photo-1530804458434-67fe207c3a71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  height: 100vh;
  .banner-tit{
    background: #ffffff38;
    padding: 1em;
    position: absolute;
    font-size: 40px;
    top: 360px;
    color: $dark;
    letter-spacing: 3px;
    h1{
      font-size: 20px;
      font-family: 'Audiowide', cursive;
    }
  }
}
.go-btn{
  font-size: 24px;
}
.down-box{
  background: #b9c3c8bd;
  padding: 0px 8px;
  border-radius: 10px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  a{
    font-size: 24px;
  }
}
// news
.news-box{
  letter-spacing: 1px;
  h3{
    color: #3d3c3c;
    font-size: 20px;
  }
  li{
    margin-top: 5px;
    padding-bottom: 5PX;
    border-bottom: 1px solid #7c8482;
  }
  p{
    color: #303b5d;
  }
  .date-new{
    font-size: 14px;
    color: #9a0804;
  }
}
.left-new-bg{
  height: 350px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 50px inset #fff;
  background-image: url('https://images.unsplash.com/photo-1575650930157-792084b3f1bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80');
}
// 首頁 footer
.home-footer{
  background-size: cover;
  background-position: center;
  background-image: url('https://images.unsplash.com/photo-1540998549675-ff9519f25442?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  height: 420px;
  padding-top: 50px;
}
.introduc-img{
  overflow: hidden;
  width: 100%;
  height: 220px;
  background-size: cover;
  background-position: bottom;
  .introduc-box{
    transition: all .8s;
    opacity: 0;
    letter-spacing: 2px;
  }
  .int{
    color: #fff9f7;
    height: 250px;
    background: #4c4a4691;
    h5{
      font-size: 18px;
    }
    a{
      margin-right: 38px;
    }
  }
  &:hover{
    .introduc-box{
      opacity: 1;
    }
  }
}
.sup-mt{
  margin-top: 22px;
}
