// banner
.product-banner{
  @include ban-box;
  background-position: center;
  background-image: url('https://hexschool-api.s3.us-west-2.amazonaws.com/custom/lXJVN99SqAVEIDq5wgsurOKVx2Qn9UFkQy1DnHadV7dFC51cRqI40OeXqtnuSBg6Rag6lgsVx71hq6IYQlm2qs1ArNI7oiX3XkOra9oZ0WKXNcY28o6VyjcdJMTtB9MT.jpg');
  h2{
    @include ban-tit;
  }
}
.breadcrumb-item > a{
  font-weight: bold;
  padding-bottom: 3px;
  color: #474c4b;
  &:hover{
    color: $dark;
  }
}
// 相關商品
.sametype-box{
  margin: 0 auto;
}
.over-hidden{
  overflow: hidden;
}
.shopping{
  cursor: pointer;
  color: #2a2e2d;
  overflow: hidden;
  background: #e9ecef;
  .identical-img{
    max-width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
    transition: transform 1.2s;
  }
  &:hover{
    .identical-img{
      transform: scale(1.1);
    }
  }
}
.same-content{
  padding: 10px;
  font-weight: bold;
  h5{
    font-size: 18px;
  }
}
.product-box{
  margin: 0 10em;
  overflow: hidden;
  .product-img-box{
    padding-right: 0px; 
    padding-left: 0px;
    margin-right:10px;
  }
}
// 產品內容樣式
.pro-modal-w{
  max-width: 700px;
}
.product-header-col{
  border-bottom: 0px;
  h5{
    font-size: 18px;
    letter-spacing: 2px;
  }
}
.pro-content-box{
  width: 100%;
  color: #2a2e2d;
  background: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h4{
    font-size: 20px;
    font-weight: bold;
  }
  h5{
    font-size: 18px;
  }
  p{
    font-size: 16px;
    color: #1d1a1a;
  }
}
.product-img{
  height: 100%;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 50px inset;
}
.product-footer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.product-body-col{
  background-color: $white;
  box-shadow: 0 0 5px inset;
}
.product-price{
  font-size: 16px;
  color: #e26f22;
}
.product-origin-price{
  text-decoration: line-through;
  font-size: 12px;
  color: #7a7a8e;
}
//商品介紹及說明
.nav-item{
  a{
    color: $dark !important;
    font-weight: bold;
    letter-spacing: 2px;
    &.active{
      background-color: $dark !important;
      border-color:#ffffff00 !important;
      color: $main-col !important;
    }
  }
}
.tab-content{
  background-color: #e9ecef;
  padding: 2em 0;
  margin-bottom: 1em;
  border-bottom: 1px solid #dee2e6;
}