// banner
.home-bg{
  background: $white;
}
.home-banner,.home-banner-two{
  @include ban-box;
  background-position: center;
  height: 100vh;
}
.home-banner{
  background-image: url('https://images.unsplash.com/photo-1530804458434-67fe207c3a71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}
.home-banner-two{
  background-image: url('https://images.unsplash.com/photo-1508201890890-b6dec8b3fb2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80');
}
.swiper-pb{
  padding-bottom: 2em !important;
}
.banner-tit-box{
  position: absolute;
  top: 350px;
  left: 200px;
  .banner-tit{
    background: #ffffff38;
    padding: 1em;
    position: absolute;
    font-size: 40px;
    color: $dark;
    letter-spacing: 3px;
    h1{
      font-size: 20px;
      font-family: 'Audiowide', cursive;
    }
  }
}
.go-btn{
  font-size: 24px;
}
.down-box{
  display: inherit;
  background: #b9c3c8bd;
  padding: 0px 8px;
  border-radius: 10px;
  position: absolute;
  bottom: 50px;
  left: 49.5%;
  a{
    font-size: 24px;
  }
}
.swiper-mt{
  bottom: 50px !important;
  .swiper-pagination-bullet {
    width: 20px;
    height: 6px;
    border-radius: 30%;
    background-color: antiquewhite;
  }
}
// news
.m-news-group{
  display: none;
}
.news-box{
  letter-spacing: 1px;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-bottom: 2em;
  h3{
    color: #3d3c3c;
  }
  li{
    margin-top: 5px;
    padding: 10px 0;
    border-bottom: 1px solid #7c8482;
  }
  p{
    color: #303b5d;
    font-size: 16px;
  }
  .date-new{
    font-size: 14px;
    color: #9a0804;
  }
}
.divider-bg{
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  width: 100%;
  max-height: 270px;
  height: 270px;
}
// footer
.home-footer{
  padding: 50px 0;
}
.minor-img{
  width: 70%;
  height: 420px;
  background-size: cover;
  background-position: bottom;
  position: relative;
  &::after{
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(71, 67, 67, 0.596);
  }.introTitle{
    z-index: 2;
    border: 2px solid #fff;
    position: absolute;
    left: 2.5%;
    top: 2.5%;
    height: 95%;
    width: 95%;
    h4{
      margin-top: 28px;
      font-size: 28px;
      margin-left: 20px;
      color: white;
      letter-spacing: 10px;
      @include vrl;
    }
  }
  .primary-img{
    transition: all 1s;
    position: absolute;
    right: -15%;
    top: 10%;
    width: 70%;
    height: 80%;
    background-position: center;
    background-size: cover;
    box-shadow: 0 1px 7px;
    z-index: 2;
  }
  &:hover{
    .primary-img{
      transform: translateX(30px);
    }
    .poles-img{
      transform: translateX(-30px);
    }
  }
}
.poles-title > h4{
  float: right;
  margin-left: 0;
  margin-right: 20px;
}
.poles-img{
  left: -15%;
}
.intro-box{
  display: flex;
  justify-content: center;
  .int{
    letter-spacing: 2px;
    text-align: center;
    h5{
      font-size: 20px;
      &::after{
        content: '';
        height: 20px;
        width: 2px;
        background: #959a9e;
        color: beige;
        top: 20px;
        position: absolute;
        right: 315px;
      }
      &::before{
        content: '';
        height: 20px;
        width: 2px;
        background: #959a9e;
        color: beige;
        top: 20px;
        position: absolute;
        left: 315px;
      }
    }
    .btn-outline-dark{
      font-weight: bold;
      margin-top: 2em;
      padding: 25px;
    }
  }
}
.sup-mt{
  margin-top: 22px;
}
